@font-face {
	font-family: 'Cafe24SsurroundAir';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #333;
}
#wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#aside {
	width: 300px;
}

#aside .logo {
	width: 100%;
	height: 100px;
	background-color: #efefef;
	text-align: center;
}

#aside .logo img {
	width: 250px;
	padding-top: 10px;
}

#aside .nav {
	width: 100%;
	height: 700px;
	background-color: #e3e3e3;
}

#main {
	width: calc(100% - 300px);
    height: 800px; /* Ensure a height is set */
    text-align: center;
    margin: 0 auto;
    background: #eee;
}
#session{
	width: 100%;
	height: 800px;
}

#link {
	width: 100%;
	height: 150px;
	background-color: #d1d1d1;
}

#footer {
	width: 100%;
	height: 150px;
	display: flex;
	background: #ddd;
}

.copy {
	width: 100%;
	margin: 60px auto;
	text-align: center;
	font-size: 20px;
}

/* nav */
.nav>ul>li>a {
	display: block;
	padding: 10px;
	background-color: green;
	text-align: center;
	font-family: 'Cafe24SsurroundAir';
	text-decoration: none;
	font-size: 20px;
}

.nav>ul>li>a:hover {
	background-color: #9c9c9c;
}

.nav>ul>li>ul {
	display: none;
}

.nav>ul>li>ul>li>a {
	display: block;
	padding: 10px;
	text-align: center;
	font-family: 'Cafe24SsurroundAir';
	text-decoration: none;
	font-size: 20px;
}

.nav>ul>li>ul>li>a:hover {
	background-color: #c0c0c0;
}
/* ÀÚ¹Ù½ºÅ©¸³Æ®¿ë CSS */
.nav>ul>li>ul {
	display: block;
	height: 0;
	overflow: hidden;
	transition: all 400ms;
}
/* session */
.board_wrap {
	position: relative;
	z-index: 3;
	width: 90%;
    margin: auto;
}

/* .board_wrap>div {
	display: none;
}

.board_wrap>div:first-child {
	display: block;
} */

.board_wrap .slider {
	position: absolute;
	left: 0;
	top: 0;
}

/* .board_wrap img {
	width: 100%;
	height: 800px;
	left: 0px;
	top: 0px;
	background: url("/img/slide.png");
	background-size: cover;
	text-align: center;
	opacity: 0.8;
	z-index: 1;
} */
.slide {
	z-index: 3;
}

.board_wrap h1 {
	font-size: 80px;
	font-family: 'Cafe24SsurroundAir';
	padding-top: 350px;
	padding-right: 250px;
	/* padding-right: 500px;
	text-align: right; */
}

.board_wrap p {
	font-size: 35px;
	font-family: 'Cafe24SsurroundAir';
	padding-top: 20px;
}

.board_wrap .slide_link {
	padding-right: 250px;
	padding-top: 500px;
}

.board_wrap .slide_link a {
	font-size: 10px;
	font-family: 'Cafe24SsurroundAir';
	padding-top: 20px;
}

.board_wrap .btn-link {
	width: 200px;
	height: 50px;
	border-radius: 20px;
}

.board_wrap .slider span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px 20px;
	color: #fff;
}

/*----------------------------------------------------------------------*/
/* .board_wrap {
	width: 100%;
	margin: 100px auto;
} */

.board_title {
	margin-bottom: 15px;
	margin-top: 10px;
}

.board_title strong {
	font-size: 2.5rem;
}

.board_title p {
	margin-top: 5px;
	font-size: 0.8rem;
}

.bt_wrap {
	margin-top: 20px;
	text-align: center;
	font-size: 0;
}

.bt_wrap a {
	display: inline-block;
	min-width: 80px;
	margin-left: 30px;
	padding: 5px;
	border: 1px solid #000;
	border-radius: 10px;
	font-size: 1.2rem;
}
.bt_wrap a button{
	border: none;
}

.bt_wrap a:first-child {
	margin-left: 0;
}

.bt_wrap a.on {
	background: #000;
	color: #fff;
}

.board_list {
	width: 100%;
	border-top: 2px solid #000;
}

.board_list>div {
	border-bottom: 1px solid #ddd;
	font-size: 0;
}

.board_list>div.top {
	border-bottom: 1px solid #999;
}

.board_list>div:last-child {
	border-bottom: 1px solid #000;
}

.board_list>div>div {
	display: inline-block;
	padding: 15px 0;
	text-align: center;
	font-size: 1.4rem;
}

.board_list>div.top>div {
	font-weight: 600;
}

.board_list .num {
	width: 10%;
}

.board_list .title {
	width: 60%;
	text-align: left;
}

.board_list .top .title {
	text-align: center;
}

.board_list .writer {
	width: 10%;
}

.board_list .date {
	width: 10%;
}

.board_list .count {
	width: 10%;
}

.board_page {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}

.board_page a {
	display: inline-block;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-left: 0;
	line-height: 100%;
}

.board_page a.bt {
	padding-top: 10px;
	font-size: 1.2rem;
	letter-spacing: -1px;
}

.board_page a.num {
	padding-top: 9px;
	font-size: 1.4rem;
}

.board_page a.num.on {
	border-color: #000;
	background: #000;
	color: #fff;
}

.board_page a:first-child {
	border-left: 1px solid #ddd;
}

.board_view {
	width: 100%;
	border-top: 2px solid #000;
}

.board_view .title {
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 2rem;
}

.board_view .info {
	padding: 15px;
	border-bottom: 1px solid #999;
	font-size: 0;
}

.board_view .info dl {
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

.board_view .info dl:first-child {
	padding-left: 0;
}

.board_view .info dl::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	width: 1px;
	height: 13px;
	background: #ddd;
}

.board_view .info dl:first-child::before {
	display: none;
}

.board_view .info dl dt, .board_view .info dl dd {
	display: inline-block;
	font-size: 1.4rem;
}

.board_view .info dl dt {
	
}

.board_view .info dl dd {
	margin-left: 10px;
	color: #777;
}

.board_view .cont {
	padding: 15px;
	border-bottom: 1px solid #000;
	line-height: 160%;
	font-size: 1.4rem;
}

.board_write {
	border-top: 2px solid #000;
}

.board_write .title, .board_write .info {
	padding: 15px;
}

.board_write .info {
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #000;
	font-size: 0;
}

.board_write .title dl {
	font-size: 0;
}

.board_write .info dl {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.board_write .title dt, .board_write .title dd, .board_write .info dt,
	.board_write .info dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.board_write .title dt, .board_write .info dt {
	width: 100px;
}

.board_write .title dd {
	width: calc(100% - 100px);
}

.board_write .title input[type="text"], .board_write .info input[type="text"],
	.board_write .info input[type="password"] {
	padding: 10px;
	box-sizing: border-box;
}

.board_write .title input[type="text"] {
	width: 80%;
}

.board_write .cont {
	border-bottom: 1px solid #000;
}

.board_write .cont textarea {
	display: block;
	width: 100%;
	height: 300px;
	padding: 15px;
	box-sizing: border-box;
	border: 0;
	resize: vertical;
}

td{
	font-size: 15px;
	text-align: left;
	padding-left: 50px;
}

.board_list tr th,td{
	border-bottom: 2px dashed #ccc;
	height: 40px;
}
/* .board_list .tf-bor-none tr th,td{
	border-bottom: none;
	height: 40px;
} */
.tr-last{
	height: 300px;
}
.td-cen td{
	text-align: center;
}
.inp-no input{
	border: none;
}

.col2{
	width: 1000px;
	height: 40px;
	background: #ddd;
}
textarea{
	overflow:scroll;
	background: #ddd;
}

/*----------------------------------------------------------------------------------------*/
.full-item{
	height: 50px;
}
.d-flex select {
	width: 80px;
	height: 30px;
}
.form-control{
	width: 600px;
	height: 27px;
}
.sea-btn{
	width: 60px;
	height: 30px;
}

ul.pagination {
    list-style: none;
    text-align: center; /* 가운데 정렬을 위해 text-align 속성 추가 */
    margin-top: 10px; /* 필요한 경우 위쪽 여백 추가 */
}

.pagination li {
    display: inline; /* 각 페이지 번호 항목을 인라인으로 표시 */
    margin-right: 3px;
}

.pagination li a {
    float: none; /* float 해제 */
    display: inline-block; /* 인라인 블록 요소로 변경하여 중앙 정렬 */
    padding: 10px;
    margin-right: 3px;
    width: 50px;
    color: #000;
    font: bold 14px tahoma;
    border: 1px solid #eee;
    text-align: center;
    text-decoration: none;
    left: 50%;
}
